* {
    margin: 0;
    padding: 0;
  
    
}

h1{
    text-shadow: 0 0 3px black, 0 0 20px #FF0000;
}
body {
    
    color: red;   
    font-size: x-large;
    text-align: center;
   margin-top: 5vh;
   background-image:url(p1.jpg) ;
   background-size: cover;
}

.msg {
    color: aqua;
    font-size: 5vmin;
}

.Btn1 {
    margin-top: 4vh;
    height: 3vh;
    color: aqua;
    font-size: 2.5vmin;
    border: none;
    /* background-color: rgb(26, 25, 25); */
    justify-content: center;
    align-items: center;
    background-color: none;
}

.btn2 {
    padding: 0.7rem;
    border-radius: 0.7rem;
    border-style: solid;
    background-color: aqua;
    font-size: medium;
    cursor: pointer;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.game {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.box {
    height: 120px;
    width: 120px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(255, 0, 0, 0.8);
    font-size: 8vmin;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    color: red;
}



.btn {
    padding: 0.7rem;
    border-radius: 0.7rem;
    border-style: solid;
    background-color: aqua;
    font-size: medium;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.hide {
    display: none;
}
